<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SOIREE</title>
        <link rel="stylesheet" href="style.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Taviraj:ital@1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="header">
        <div class="container">
        <div class = "navbar">
            <div class = "logo">
                <img src="images/logo.png" alt="LOGO" width="175px">
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="">Home</a> </li>
                    <li><a href="">Products</a> </li>
                    <li><a href="">About</a> </li>
                    <li><a href="">Contact</a> </li>
                    <li><a href="">Acount</a> </li>
                </ul>
            </nav>
            <img src="images/cart.png" width="50px" height="30px">
            <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
        </div>
        <div class="row">
            <div class="col-2">
                <h1>Eloquently Express <br>Yourself.</h1>
                <p>Fashion has to reflect who you are</p>
                <a href="" class="btn">&nbsp;&nbsp;&nbsp;Explore Now &#8594</a>
            </div>
            <div class="col-2">
                <img src="images/image1.jpg">
            </div>
        </div>
        </div>
        </div>
        <!--------TOP BRANDS--------->
        <h2 class="title"><br><br>&nbsp;&nbsp; Explore Top Brands</h2>
        <div class="categories">
          <div class="small-container">
            <div class="row">
                <div class = "col-3">
                    <img src="images/nike.jfif">
                </div>
                <div class = "col-3">
                    <img src="images/levis.jfif">
                </div>
                <div class = "col-3">
                    <img src="images/biba.jpg">                    
                </div>
                <div class = "col-3">
                    <img src="images/h&m.jpeg">                    
                </div>
                
            </div>
          </div>
        </div>
        <!--------FEATURED PRODUCTS--------->
        <div class="small-container">
            <h2 class="title">Featured Products</h2>
            <div class="row">
                <div class="col-4">
                    <img src="images/d1.webp">
                    <h3>VASTRAMAY</h3>
                    <h4>Men Black & Gold-Toned Solid Silk Sherwani With Dhoti Pants</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p><b>Rs. 4499&nbsp;</b><s>Rs.8999</s></p>
                </div>
                <div class="col-4">
                    <img src="images/d2.webp">
                    <h3>SASSAFRAS</h3>
                    <h4>Women Off-White & Green Printed Maxi Dress</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <p><b>Rs.759&nbsp;</b><s>Rs.1899</s></p>
                </div>
                <div class="col-4">
                    <img src="images/d3.webp">
                    <h3>PEAK</h3>
                    <h4>Men Grey CULTURE Basketball Shoes</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p><b>Rs.4499&nbsp;</b><s>Rs.5999</s></p>
                </div>
                <div class="col-4">
                    <img src="images/d4.webp">
                    <h3>QUARTZ</h3>
                    <h4>Ladies Bracelet Female Clock Quartz Watch</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p><b>Rs.589&nbsp;</b><s>Rs.919</s></p>
                </div>
            </div>
            <h2 class="title">Trending Products</h2>
            <div class="row">
                <div class="col-4">
                    <img src="images/d5.webp">
                    <h3>Marc Loire</h3>
                    <h4>Open toe flats</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p><b>Rs. 4499&nbsp;</b><s>Rs.8999</s></p>
                </div>
                <div class="col-4">
                    <img src="images/d6.webp">
                    <h3>Campus Sutra</h3>
                    <h4>Men Solid Tailored Jacket</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p><b>Rs.759&nbsp;</b><s>Rs.1899</s></p>
                </div>
                <div class="col-4">
                    <img src="images/d7.jpg">
                    <h3>max</h3>
                    <h4>Women Pink Embroidered Scarf</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <p><b>Rs.4499&nbsp;</b><s>Rs.5999</s></p>
                </div>
                <div class="col-4">
                    <img src="images/d8.webp">
                    <h3>Samsung</h3>
                    <h4>Gold-Toned Level U Bluetooth In-Ear Wireless Headphones</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p><b>Rs.2189&nbsp;</b><s>Rs.2999</s></p>
                </div>
            </div>
        </div>
        <!--------OFFERS--------->
        <div class="offer">
            <div class="small-container">
                <div class="row">
                    <div class="col-2">
                        <img src="images/d9.png" class="offer-img">
                    </div>
                    <div class="col-2">
                        <p>Exclusively available on Soiree</p>
                        <h1>Fitbit</h1>
                        <h2>Versa 2 Health and Fitness Smartwatch</h2>
                        <small>Utility meets perfection in this Fitbit Versa 2 Health and Fitness Smartwatch. Other than tracking calorie burn, you can also keep an eye on your heart rate, sleeping and breathing patterns. With the built-in Amazon Alexa, you can get quick updates on news, weather. You can also control your home devices, set up reminders.</small>
                        <a href="" class="btn">Buy Now &#8594</a>
                    </div>
                </div>
                
            </div>
        </div>

        <!-----testemonial----->
        <div class="testimonial">
            <div class="small-container">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-quote-left"></i>
                        <p>I could live in your shop, your sixes are suited for normal size women and I can always find something I love.</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <img src="images/c1.jfif">
                        <h3>Natalie Cox</h3>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-quote-left"></i>
                        <p>I can always bank on finding a great new addition to my wardrobe.Amazing prices and Service. </p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                        <img src="images/c2.jfif">
                        <h3>Mandie J</h3>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-quote-left"></i>
                        <p>It doesn't matter how often you have or go to one as there is always something new to tempt you!</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <img src="images/c3.jpg">
                        <h3>Kendall D</h3>
                    </div>
                </div>
            </div>
        </div>
        
        <!--------BRANDS---------->
        <div class="brands">
            <div class="small-container">
                <div class="row">
                    <div class="col-6">
                        <img src="images/brand1.png">
                    </div>
                    <div class="col-6">
                        <img src="images/brand2.png">
                    </div>
                    <div class="col-6">
                        <img src="images/brand3.png">
                    </div>
                    <div class="col-6">
                        <img src="images/brand4.png">
                    </div>
                    <div class="col-6">
                        <img src="images/brand5.png">
                    </div>
                    <div class="col-6">
                        <img src="images/brand6.png">
                    </div>
                </div>
            </div>
        </div>

        <!-----FOOTER------->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col-1">
                        <h3>Dowanload App</h3>
                        <p>Dowanload App for android and ios mobile phone.</p>
                        <div class="app-logo">
                            <img src="images/app-store.png">
                            <img src="images/play-store.png">
                        </div>
                    </div>
                    <div class="footer-col-2">
                        <img src="images/a.png">
                        <p>Our purpose is to sustainably make the Pleasure and Benefits of Fashion accessible to many .</p>
                    </div>
                    <div class="footer-col-3">
                        <h3>Useful links</h3>
                        <ul>
                            <li>Coupons</li>
                            <li>Blog Post</li>
                            <li>Return Policy</li>
                            <li>Join Affiliate</li>

                        </ul>
                    </div>
                    <div class="footer-col-4">
                        <h3>Follow Us</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>YouTube</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <p class="copyright">Copyright 2020 - Easy Tutorials</p>
            </div>
        </div>

        <!------toggle menu------->
        <script>
            var MenuItems = document.getElementById("MenuItems");

            MenuItems.style.maxHeight = "0px";

            function menutoggle()
            {
                if(MenuItems.style.maxHeight == "0px")
                {
                    MenuItems.style.maxHeight = "200px";
                }
                else
                {
                    MenuItems.style.maxHeight = "0px";
                }
            }
        </script>
                    
        
        </body>
</html>
